body {
    background-color: #aaa;
}

.inline {
    display: inline-block;
}
.boxed {
    padding-left: 4px;
    border: 1px solid #777;
}
#splash {
    width: 800px;
    height: 800px;
    background: url(img/rosette15-unwise-neo6.jpg) center center / cover no-repeat;
}
